._ {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}

.mode {
  display: contents;
}

.image {
  line-height: 0;
}
.image[aria-busy="true"] {
  opacity: 0.25;
}

.loader {
  width: 100%;
  max-width: 20rem;
  position: absolute;
  top: 2.5rem;
  left: 50%;
  transform: translateX(-50%);
}
.image[aria-busy="false"] + .loader {
  display: none;
}
